@import "tailwindcss";

@theme {
  --color-scleenkr-bg: #1e1e1e;
  --color-scleenkr-card: #2d2d2d;
  --color-scleenkr-text: #E0E0E0;
  --color-scleenkr-muted: #A0A0A0;
  --color-scleenkr-primary: #FF9800;
  --color-scleenkr-primaryHover: #e68900;
  --color-scleenkr-success: #64ff8a;
  --color-scleenkr-successHover: #4caf50;
  --color-scleenkr-danger: #E53935;
  --color-scleenkr-dangerHover: #c62828;
  --color-scleenkr-border: #333333;
  --color-scleenkr-borderLight: #444444;
}

.title {
  color: var(--color-scleenkr-primary);
}